
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PsBackground {
  background-image: url("./assets/PsSlim.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.WomenBackground {
  background-image: url("./assets/attractive-woman-wearing-hat-posing-black-background\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.SpeakerBackground {
  background-image: url("./assets/Frame\ 707.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.AromatBackground {
  background-image: url("./assets/652e82cd70aa6522dd785109a455904c.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}