
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PsBackground {
  background-image: url("./assets/PsSlim.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.WomenBackground {
  background-image: url("./assets/attractive-woman-wearing-hat-posing-black-background\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.SpeakerBackground {
  background-image: url("./assets/Frame\ 707.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.AromatBackground {
  background-image: url("./assets/652e82cd70aa6522dd785109a455904c.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.container {
    text-align: center;
}

#payButton {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#payButton:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.hiddenn {
    display: none;
}

#animationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkmark-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.checkmark {
    width: 100px;
    height: 100px;
}

.checkmark__arc {
    stroke-dasharray: 252;
    stroke-dashoffset: 252;
}

.checkmark__check {
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
}

.message {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    opacity: 0;
}

#animationContainer.active .checkmark-container {
    animation: pop 0.5s ease-in-out forwards;
}

#animationContainer.active .checkmark__arc {
    animation: stroke 1s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

#animationContainer.active .checkmark__check {
    animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) 1s forwards;
}

#animationContainer.active .message {
    animation: fadeIn 0.5s ease-in-out 1.5s forwards, slideUp 0.5s ease-in-out 1.5s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
